<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.nongtian.mapper.AreaMapper">

    <resultMap id="area_result_map" type="com.wj.nongtian.entity.Area">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id"></id>

        <!-- 定义普通属性 -->
        <result property="regionLevel" column="region_level"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="name" column="name"></result>
        <result property="regionCode" column="region_code"></result>
        <result property="shortName" column="short_name"></result>
    </resultMap>

    <select id="getAreaById" resultMap="area_result_map">
            select * from area where id = #{id}
    </select>

    <select id="getSubAreaById" resultMap="area_result_map">
            select * from area where parent_id = #{pid}
    </select>

</mapper>