<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.nongtian.mapper.ReportMapper">

    <resultMap id="report_result_map" type="com.wj.nongtian.entity.ProjectDailyReport">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id"></id>

        <!-- 定义普通属性 -->
        <result property="pid" column="pid"></result>
        <result property="uid" column="uid"></result>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="check" column="check"></result>
        <result property="schedule" column="schedule"></result>
        <result property="district" column="district"></result>
        <result property="lnglat" column="lnglat"></result>
        <result property="address" column="address"></result>
        <result property="createTime" column="createtime"></result>
        <result property="updateTime" column="updatetime"></result>

    </resultMap>

    <select id="getDailyReportByProjectId" resultType="com.wj.nongtian.entity.ProjectDailyReport">
        select * from project_day_report
        where pid = #{pid}
        group by schedule
        order by schedule
    </select>

    <select id="getUnqualifiedReports" resultType="com.wj.nongtian.entity.ProjectDailyReport">
        select * from project_day_report where `check` = 2 and pid in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="getReportsByIds" resultType="com.wj.nongtian.entity.ProjectDailyReport">
        select * from project_day_report where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <select id="getReportDayCount" resultType="com.wj.nongtian.entity.UserReportCount">
        SELECT c.uid, c.nickName, COUNT(date) AS count
        , SUM(pCount) sum,date
        FROM (
        SELECT user_info.id AS uid, user_info.nickname AS nickName, date
        , IFNULL(picCount, 0) AS pCount
        FROM user_info
        LEFT JOIN (
        SELECT *
        FROM (
        SELECT project_day_report.*, DATE_FORMAT(createtime, #{dateFormat}) AS date
        , IFNULL(x.cunt, 0) AS picCount
        FROM project_day_report
        LEFT JOIN (
        SELECT rid, COUNT(id) AS cunt
        FROM report_picture_video
        GROUP BY rid
        ) x
        ON project_day_report.id = x.rid
        ) a
        WHERE a.date = #{date}
        ) b
        ON user_info.id = b.uid
        HAVING user_info.id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ) c
        GROUP BY uid, date
        ORDER BY count
    </select>

    <select id="getReportCountBetween" resultType="com.wj.nongtian.entity.UserReportCount">
        SELECT c.uid, c.nickName, COUNT(date) AS count
        , SUM(pCount) AS sum
        FROM (
        SELECT user_info.id AS uid, user_info.nickname AS nickName, date
        , IFNULL(picCount, 0) AS pCount
        FROM user_info
        LEFT JOIN (
        SELECT *
        FROM (
        SELECT project_day_report.*, DATE_FORMAT(createtime, '%Y-%m-%d') AS date
        , IFNULL(x.cunt, 0) AS picCount
        FROM project_day_report
        LEFT JOIN (
        SELECT rid, COUNT(id) AS cunt
        FROM report_picture_video
        GROUP BY rid
        ) x
        ON project_day_report.id = x.rid
        ) a
        WHERE a.date between #{startDate} and #{endDate}
        ) b
        ON user_info.id = b.uid
        HAVING user_info.id IN
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        ) c
        GROUP BY uid
        ORDER BY count
    </select>

</mapper>