<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.nongtian.mapper.UserMapper">

    <resultMap id="user_result_map" type="com.wj.nongtian.entity.User">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="id" column="id"></id>

        <!-- 定义普通属性 -->
        <result property="userName" column="username"></result>
        <result property="passWord" column="password"></result>
        <result property="salt" column="salt"></result>
        <result property="nickName" column="nickname"></result>
        <result property="phone" column="phone"></result>
        <result property="phoneVerified" column="phoneverified"></result>
        <result property="age" column="age"></result>
        <result property="gender" column="gender"></result>
        <result property="provinceId" column="province_id"></result>
        <result property="cityId" column="city_id"></result>
        <result property="districtId" column="district_id"></result>
        <result property="areaId" column="area_id"></result>
        <result property="avater" column="avater"></result>
        <result property="createTime" column="createtime"></result>
        <result property="updateTime" column="updatetime"></result>

        <association property="role" javaType="com.wj.nongtian.entity.Role">
            <result property="code" column="role"></result>
            <result property="level" column="level"></result>
            <result property="desc" column="desc"></result>
        </association>
    </resultMap>

    <select id="isUserNameExists" resultType="java.lang.Boolean">
    <![CDATA[
                              select count(id)
                                                from user_info where username = #{username}

        ]]>
    </select>

    <select id="isUserIdExists" resultType="java.lang.Boolean">
    <![CDATA[
                                 select count(id)
                                          from user_info where id = #{uid}

        ]]>
    </select>

    <select id="getSalt" resultType="java.lang.String">
        select salt from user_info where username = #{username}
    </select>

    <select id="getLoginInfo" resultMap="user_result_map">
        select user_info.*,role.code,role.level,role.desc
        from user_info
        left join role
        on user_info.role = role.code
        where user_info.username = #{username}
        and user_info.password = #{password}
    </select>

    <select id="getUserById" resultMap="user_result_map">
        select user_info.*,role.code,role.level,role.desc
        from user_info
        left join role
        on user_info.role = role.code
        where user_info.id = #{uid}
    </select>

    <select id="getUsersByArea" resultMap="user_result_map">
        select user_info.*,role.code,role.level,role.desc
        from user_info,role
        where user_info.role = role.code
        <choose>
            <when test="level == 1">
                and user_info.province_id = #{areaId}
                and (user_info.city_id is null or user_info.city_id = 0)
                and (user_info.district_id is null or user_info.district_id = 0)
                and (user_info.area_id is null or user_info.area_id = 0)
            </when>
            <when test="level == 2">
                and user_info.city_id = #{areaId}
                and (user_info.district_id is null or user_info.district_id = 0)
                and (user_info.area_id is null or user_info.area_id = 0)
            </when>
            <when test="level == 3">
                and user_info.district_id = #{areaId}
                and (user_info.area_id is null or user_info.area_id = 0)
            </when>
            <when test="level == 4">
                and user_info.area_id = #{areaId}
            </when>
        </choose>

    </select>

    <update id="updateUserInfo">
        update user_info
        <!-- set 能够智能的去掉最后一个,-->
        <set>
            <if test="nickName != null">
                nickname = #{nickname},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
        </set>
        where id = #{uid}
    </update>

</mapper>